<h1>Register</h1>
{% for message in messages %}
  <p>{{message}}</p>
{% endfor %}
<form action='/register' method='post'>
  {% csrf_token %}
  Email:--------------- <input type='text' name='email'>
  <br>
  First Name:--------- <input type='text' name='first_name'>
  <br>
  Last Name:--------- <input type='text' name='last_name'>
  <br>
  Password:----------- <input type='password' name='password'>
  <br>
  Confirm Password: <input type='password' name='confirmpassword'>
  <input type='submit' name='button' value='Submit'>
</form>

<h1>login</h1>
<form action='/login' method='post'>
  {% csrf_token %}
  Email:--------------- <input type='text' name='email'>
  <br>
  Password:----------- <input type='password' name='password'>
  <input type='submit' name='button' value='Submit'>
</form>
